menu "Resource Configuration"

    config RES_SDCARD_MOUNT_POINT
        string "SD card mount point"
        default "/sdcard"
        help
            The mount point for the filesystem.

    config RES_LOG_FILE_PATH
        string "Log file path"
        default "/events.log"
        help
            The file path for the log file.
    
    config RES_LOG_FILE_MAX_SIZE
        int "Log file max size"
        default 102400
        help
            The maximum log file size in bytes.
            
    config RES_CONFIG_FILE_PATH
        string "Configuration file path"
        default "/config.json"
        help
            The file path for the configuration file.
            
    config RES_CONFIG_FILE_MAX_SIZE
        int "Configuration file max size"
        default 1024
        help
            The maximum configuration file size in bytes.
            
    config RES_DATA_FILE_PATH
        string "Data file path"
        default "/data.txt"
        help
            The file path for the data file, if unable to transmit data to MQTT broker
            
endmenu
